*{
    box-sizing: border-box;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 15%;
}
/* Mudanças nas imagens em geral */

img{
    width: 11%;
        filter: drop-shadow(14px 14px 5px #27274b);
    
}

/* Defender o Logo do Drop Shadow */
.image1{
    filter: drop-shadow(0px 0px 0px);
}

/* Banner da página do jogo */
.GameBanner{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(24, 24, 24, 0.61), rgba(0, 0, 0, 0.1)),
    url(../images/LethalCompanyBanner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}


/* Mudanças no Hyperlink, e em passar o mouse por cima */
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: end;
    word-spacing: 5px;
    letter-spacing: 3px;
    line-height: 29px;
    position: absolute;
    top: 1%;
    left: 95%;
}


a{
    text-decoration: none;
    font-weight: 600px;
    color: rgb(165, 15, 45);
    
}

a:hover{
    color: crimson;
}