*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background{
    background-color: #26282b;
}

.ultimate{
    display: table;
    max-width: 50vw;
    max-height: 10000vh;
    margin: 0vh auto;
}

/* Formatação da área de cima do site, a borda foi de mamas */
.logo{
    min-width: 50vw;
    height: 5vh;
    border: 30xp solid #ed2939;
    border: #ed2939;
    color: #ed2939;
    display: flex;
}

p{
    margin: auto;
}

.flogo{
    width: 10vw;
    margin: 0px 0px 0px 0vw;
}


.about{
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: crimson;
    padding: 5px;
    box-sizing: border-box;
}

.about:hover{
    background-color: rgb(219, 48, 82);
}

/* Parte debaixo do site */


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: top;
    width: 50vw;
}

.icons{
    width: 4vw;
    height: 5vh;
    display: flex;
    margin: 0px 50vw;
}

.icon{
    font-size: 30px;
    margin: 1.5vh 0px 0px 0px;
    box-sizing: border-box;
    color: #eff9d6;
}

.icon:hover{
    color: crimson;
}


/* Mudanças na palavra "Trending" */
.trendtext{
    font-weight: 900;
    word-spacing: 5px;
    letter-spacing: 6px;
    font-size: 32px;
    color: #eff9d6;

}

.trending{
    text-align: center;
    margin: 25vh 0vh 3vh 0vh;
}

/* Formatação das imagens e da posição dos "Trendings". */
.image2{
    width: 250px;
    height: 125px;
    filter: opacity(75%) drop-shadow(14px 14px 5px #27274b);
    border-radius: 50px;
}

.image2:hover{
    filter: blur(0);
}

.LOGO{
    width: 50vw;
    margin: 0vh 0vw 50vh 0vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




