*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.background{
    background-color: #26282b;
}

.ultimate{
    display: table;
    max-width: 50vw;
    max-height: 10000vh;
    margin: 0vh auto;
}

/* Formatação da área de cima do site, a borda foi de mamas */
.logo{
    min-width: 50vw;
    height: 5vh;
    border: 30xp solid #ed2939;
    border: #ed2939;
    color: #ed2939;
    display: flex;
}

p{
    margin: auto;
}

.flogo{
    width: 10vw;
    margin: 0px 0px 0px 0vw;
}


.about{
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: crimson;
    padding: 5px;
    box-sizing: border-box;
}

.about:hover{
    background-color: rgb(219, 48, 82);
}

/* Parte debaixo do site */


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: top;
    width: 50vw;
}

.icons{
    width: 4vw;
    height: 5vh;
    display: flex;
    margin: 0px 45vw;
}

.icon{
    font-size: 30px;
    margin: 1.5vh 0px 0px 0px;
    box-sizing: border-box;
    color: #eff9d6;
}

.icon:hover{
    color: crimson;
}




/* palavras */
p{
    width: 50vw;
    color: #95a1b1;
    /* color: crimson; */
}

/* Banner da página do jogo */
.GameBanner{
    height: 400px;
    width: 50vw;
    background-image: linear-gradient(to top, rgba(24, 24, 24, 8), rgba(0, 0, 0, 0.8)),
    url(../images/LethalCompanyBanner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

