*{
    box-sizing: border-box;
    padding: 0;   
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bgcolor);
}


.ultimate{
    display: table;
    max-width: 50vw;
    max-height: 10000vh;
    margin: 0vh auto;
}

/* Formatação da área de cima do site, a borda foi de mamas */
.logo{
    min-width: 50vw;
    height: 5vh;
    border: 30xp solid #ed2939;
    border: #ed2939;
    color: #ed2939;
    display: flex;
}

p{
    margin: auto;
}

.flogo{
    width: 10vw;
    margin: 0px 0px 0px 0vw;
}


.about{
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: crimson;
    padding: 5px;
    box-sizing: border-box;
}

.about:hover{
    background-color: rgb(219, 48, 82);
}

/* Parte debaixo do site */


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: top;
    width: 50vw;
}

.icons{
    width: 4vw;
    height: 5vh;
    display: flex;
    margin: 0px 45vw;
}

.icon{
    font-size: 30px;
    margin: 1.5vh 0px 0px 0px;
    box-sizing: border-box;
    color: #eff9d6;
}

.icon:hover{
    color: crimson;
}





/* Título do "Our Goals" */
.title{
    color: crimson;
}

.titlemaster{
    text-align: center;
    margin: 10vh 0vw 0vh 8vw;
    max-width: 35vw;
}

.title{
    font-weight: 900;
    font-size: 35px;
    word-spacing: 2.5px;
    letter-spacing: 0px;
}

/* Formatação da lista, distância da lista para o título */
.listamaster{
    margin: 5vh 10px 10vh 10vw;
    max-width:30vw;
}


ol, li{
    list-style: upper-roman;
    list-style-position: inside;
    list-style-image:
    line-height: 0px
}

/* Divisão entre as listas. */
.lista{
    margin:0px 0px 5.4vh 0px;
    color: crimson;
}
