*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--bgcolor)
}


.ultimate{
    display: flex;
    flex-direction: column;
    max-height: 10000vh;
    max-width: 100vw;
    margin: 0vh auto;
}

/* Formatação da área de cima do site, a borda foi de mamas */
.header{
    background-color: var(--headercolor);
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.search{
    background-color: transparent;
    min-height: 1vh;
    margin: 0vh 1vw 0px 50vw;
    padding: 10px;
}

#search{
    height: 4vh;
    width: 15vw;
    border-radius: 5px;
    border: 0px;
    background-color: var(--searchcolor);
    color: var(--textcolor);
    font-size: 17px;
    background-image: url(../images/magnifying-glass-solid.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 50%;
    padding: 20px;
    color: var(--textcolor);
}

#search:focus {outline:none;}

.searchbracket{
    background-color: transparent;
}

/*  */



/*  */







.log{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4vh;
    width: 5vw;
    border-radius: 10px;
    margin: 0.6vh 0.35vw 0px 0vw;
    /* padding: 10px; */
    box-sizing: border-box;
    background-color: var(--logcolor);
}

.log:hover{
    background-color: var(--hovlogcolor);
}

.flog{
    font-size: 19px;
    color: #ed2939;
    text-decoration: none;
    font-weight: 550;
    color: var(--textcolor);
    background-color: transparent;
}

.logbracket{
    font-size: 19px;
    background-color: transparent;
    margin: 1px;
    color: var(--textcolor);
}

.reg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.8vh;
    width: 6vw;
    border-radius: 10px;
    margin: 0.7vh 0vw;
    /* padding: 7.5px; */
    background-color: var(--regcolor);
}

.reg:hover{
    background-color: var(--hovregcolor);
}

.freg{
    font-size: 19px;
    text-decoration: none;
    margin: 0px 0px;
    font-weight: 550;
    color: var(--textcolor);
    background-color: transparent;
}

.regbracket{
    font-size: 19px;
    background-color: transparent;
    color: var(--textcolor);
}

p{
    margin: auto;
}

.logo{
    min-width: 100%;
    height: 10vh;
    width: 15vw;
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: var(--header2color);
}

.klogo{
    display: flex;
    flex-direction: row;
    background-color: var(--header2color);
    width: 10vw;
    height: 4vh;
    margin: 0px 2vw;
    padding: 15px;
}

.flogo{
    width: 12vw;
    height: 6vh;
    margin: 0vh 0vw 0vh 0vw;
    background-color: var(--header2color);
    color: var(--header2color);
}

.fabout{
    display: flex;
    flex-direction: row;
    background-color: var(--header2color);
    height: 0vh;
    width: 0.vw;
}

.about{
    font-size: 18px;
    color: white;
    height: 2.5vh;
    text-decoration: none;
    border-radius: 10px;
    background-color: crimson;
    padding: 5px;
    box-sizing: border-box;
}

.about:hover{
    background-color: rgb(219, 48, 82);
}

/* Parte debaixo do site */


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: top;
    width: 50vw;
}

.icons{
    width: 4vw;
    height: 5vh;
    display: flex;
    margin: 0px 75vw;
}

.icon{
    font-size: 30px;
    margin: 1.5vh 0px 0px 0px;
    box-sizing: border-box;
    color: #eff9d6;
}

.icon:hover{
    color: crimson;
}




/* Mudanças na palavra "Trending" */
.trendtext{
    font-weight: 900;
    word-spacing: 5px;
    letter-spacing: 6px;
    font-size: 32px;
    color: #eff9d6;

}

.trending{
    text-align: center;
    margin: 25vh 0vh 3vh 0vh;
}

/* Formatação das imagens e da posição dos "Trendings". */
.image2{
    width: 250px;
    height: 125px;
    filter: opacity(75%) drop-shadow(14px 14px 5px #27274b);
    border-radius: 50px;
}

.image2:hover{
    filter: blur(0);
}

.LOGO{
    width: 50vw;
    margin: 0vh 0vw 40vh 24.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media(max-width: 900px){
    .header{
        justify-content: space-evenly;
        margin: 0px;
    }
    .search{
        margin: 0px 0vh 0vw 0vh;
        padding: 0;
        width: 30vw;
    }
    #search{
        width: 30vw;
        background-position: 0vw;
        margin: -5px -5px 0vh 0vw;
    }
    .logo{
        width: 5vw;
        height: 10vh;
        min-width: 100%;
    }
    .klogo{
        width: 10vw;
        height: 5vh;
        padding: 2.5px;
        margin: 0px 0vw;
    }
    .flogo{
        width: 75vw;
        height: 7.5vh;
        padding: 0px;
    }
    .about{
        height: 4vh;
        width: 17vw;
        font-size: 15px;
    }
    .fabout{
        font-size: 1px;
    }
    .image2{
        width: 18vw;
        height: 10vh;
        border-radius: 0px
    }
    .log{
        width: 30vw;
        height: 4.6vh;
        padding: 5px;
        margin: -2px 0vw 0px 10px;
    }
    .klog{
            display: flex;
            flex-direction: row;
            background-color: var(--header2color);
            width: 30vw;
            height: 4vh;
            margin: 0px 0vw;
            padding: 0px;
    
    }
    .reg{
        width: 30vw;
        height: 4vh;
        padding: 17px;
        margin: -2.9px 0px 1vh 0px;
    }
    .kreg{
        padding: 0px;
        width: 10vw;
        height: 4vh;

    }

}


@media(max-width: 1200px){
    .flogo{
        width: 13vw;
        height: 7.5vh;
        padding:
        }
    .klogo{
        padding: 0px;
    }
    .about{
        height: 4vh;
    }
    .search{
        padding: 5px;
        width: 30vw;
        height: 10vh;
        margin: -25px 0vw 20px 40vw;
    }
    #search{
        height: 4vh;
        width: 30vw;
        border-radius: 5px;
        border: 0px;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 95% 50%;
        padding: 20px;
        color: var(--textcolor);
    }
    
    .LOGO{
        width: 95vw;
        height: 20vh;
        margin: 0px 1vw 22.5vh;
    }
    .image2{
        width: 17vw;
    }
    .log{
        width: 10vw;
        height: 4.6vh;
        padding: 5px;
        margin: -5px 1vw 0px 10px;
    }
    .klog{
            display: flex;
            flex-direction: row;
            background-color: var(--header2color);
            width: 10vw;
            height: 4vh;
            margin: 0px 0vw;
            padding: 0px;
    }
    .reg{
        width: 15vw;
        height: 4vh;
        padding: 17px;
        margin: -2.5px 0px 1vh 0px;
    }
    .kreg{
        padding: 0px;
        width: 10vw;
        height: 4vh;

    }
}